.navbar .nav-link {
color: #fff !important;
} 


.texto-sombra{
text-shadow: 1px 1px 4px black;    
}

.redimensionar-100{width :100%;}
.redimensionar-75 {width :75%;}
.redimensionar-50 {width :50%;}

.bg-body{
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */ 
  background-attachment: fixed;    		
}

.bg-home{
  background-image: linear-gradient(black, white, white, white);
}
.bg-gastronomia{
  background-image: url("../img/fundo-gastronomia.jpg");
}
.bg-fazer{
  background-image: url("../img/fundo-fazer.jpg");
}
.bg-comer{
  background-image: url("../img/fundo-comer.jpg");
}
.bg-ficar{
  background-image: url("../img/fundo-ficar.jpg");
}
.bg-mais{
  background-image: url("../img/fundo-mais.jpg");
}
.bg-sobre{
  background-image: url("../img/fundo-sobre.jpg");
}
.bg-vote{
  background-image: url("../img/fundo-sobre.jpg");
}
.bg-artesanato{
  background-image: url("../img/fundo-artesanato.jpg");
}


.text-justify {
  text-align: justify;
}